html {
  overflow-x: hidden;
}

nav {
  position: relative;
}

nav #nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1024px) {
  nav #nav-container {
    position: static;
  }
}

nav #nav-container .nav-ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 115px;
}

@media screen and (max-width: 1024px) {
  nav #nav-container .nav-ul {
    position: absolute;
    border-top: 1px solid #c6c4c4;
    width: 100%;
    top: 45px;
    right: 0;
    z-index: 5;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity));
  }
}

@media screen and (max-width: 760px) {
  nav #nav-container .nav-ul {
    display: none;
  }
}

nav #nav-container .nav-ul li {
  cursor: pointer;
  height: 100%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin-left: 5px;
}

nav #nav-container .nav-ul li:hover {
  border-bottom: 3px solid red;
}

@media screen and (max-width: 1024px) {
  nav #nav-container .nav-ul li {
    padding: 8px 0 8px 0;
  }
}

nav #nav-container .nav-ul li h3 {
  font-size: 13.5px;
}

nav #nav-container #icons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3px;
  position: absolute;
  left: 2%;
}

nav #nav-container #icons-wrapper .icon {
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

nav #nav-container #icons-wrapper .icon :hover {
  color: red;
}

main .first-section-wrapper {
  position: relative;
}

main .first-section-wrapper .text-wrapper-parent {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  width: 35%;
  height: 100%;
  z-index: 2;
}

main .first-section-wrapper .text-wrapper-parent .text-wrapper {
  width: 100%;
  border-radius: 12px;
}

main .first-section-wrapper .text-wrapper-parent .text-wrapper h4 {
  font-size: 1.8vw;
  padding: 1vw 0;
}

@media screen and (min-width: 760px) {
  main .first-section-wrapper .text-wrapper-parent .text-wrapper h4 {
    font-size: 20px;
  }
}

main .first-section-wrapper .text-wrapper-parent .text-wrapper h5 {
  font-size: 1.5vw;
  padding: 1vw 0;
}

@media screen and (min-width: 760px) {
  main .first-section-wrapper .text-wrapper-parent .text-wrapper h5 {
    font-size: 15px;
  }
}

main .first-section-wrapper .text-wrapper-parent .text-wrapper button {
  font-size: 1.2vw;
  margin: 1vw 0;
}

@media screen and (min-width: 760px) {
  main .first-section-wrapper .text-wrapper-parent .text-wrapper button {
    font-size: 15px;
  }
}

main .seccond-section div .text-wrapper, main .third-section div .text-wrapper, main .fourth-section div .text-wrapper {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .seccond-section div .text-wrapper div, main .third-section div .text-wrapper div, main .fourth-section div .text-wrapper div {
  padding: 1vw 0 1vw 12vw;
}

main .seccond-section div .text-wrapper div h5, main .third-section div .text-wrapper div h5, main .fourth-section div .text-wrapper div h5 {
  font-size: 1.5vw;
  padding: 0.4vw 0;
}

@media screen and (min-width: 760px) {
  main .seccond-section div .text-wrapper div h5, main .third-section div .text-wrapper div h5, main .fourth-section div .text-wrapper div h5 {
    font-size: 20px;
  }
}

main .seccond-section div .text-wrapper div p, main .third-section div .text-wrapper div p, main .fourth-section div .text-wrapper div p {
  font-size: 1.2vw;
  padding: 0.4vw 0;
}

@media screen and (min-width: 760px) {
  main .seccond-section div .text-wrapper div p, main .third-section div .text-wrapper div p, main .fourth-section div .text-wrapper div p {
    font-size: 15px;
  }
}

main .seccond-section div .text-wrapper div button, main .third-section div .text-wrapper div button, main .fourth-section div .text-wrapper div button {
  font-size: 1.2vw;
  padding: 0.5vw;
}

@media screen and (min-width: 760px) {
  main .seccond-section div .text-wrapper div button, main .third-section div .text-wrapper div button, main .fourth-section div .text-wrapper div button {
    font-size: 15px;
  }
}

main .seccond-section div .text-wrapper .third-text-container, main .third-section div .text-wrapper .third-text-container, main .fourth-section div .text-wrapper .third-text-container {
  padding: 1vw 3vw 1vw 0vw;
}

main .guid-section .row-wrapper div {
  position: relative;
}

main .guid-section .row-wrapper div .svg-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px 10px 0 0;
}

@media screen and (min-width: 760px) {
  main .guid-section .row-wrapper div .svg-wrapper {
    padding: 70px;
  }
}

@media screen and (max-width: 760px) {
  main .guid-section .row-wrapper div .svg-wrapper {
    padding: 70px;
  }
}

@media screen and (max-width: 480px) {
  main .guid-section .row-wrapper div .svg-wrapper {
    border-radius: 0px 10px 0 10px;
    position: absolute;
    width: 70px;
    height: 70px;
    padding: 5px;
    top: 15px;
    z-index: 2;
  }
}

main .guid-section .row-wrapper div .svg-wrapper-1 {
  background-color: #d71920;
}

main .guid-section .row-wrapper div .svg-wrapper-2 {
  background-color: #0096e5;
}

main .guid-section .row-wrapper div .svg-wrapper-3 {
  background-color: #b2d235;
}

main .guid-section .row-wrapper div .svg-wrapper-4 {
  background-color: #f58800;
}

main .guid-section .row-wrapper div .text-wrapper {
  border-radius: 0 0 10px 10px;
}

main .guid-section .row-wrapper div .text-wrapper h4 {
  font-size: 3vw;
}

@media screen and (min-width: 760px) {
  main .guid-section .row-wrapper div .text-wrapper h4 {
    font-size: 20px;
  }
}

main .guid-section .row-wrapper div .text-wrapper p {
  font-size: 2vw;
}

@media screen and (min-width: 760px) {
  main .guid-section .row-wrapper div .text-wrapper p {
    font-size: 15px;
  }
}

@media screen and (max-width: 480px) {
  main .guid-section .row-wrapper div .text-wrapper {
    padding: 45px 35px;
    border-radius: 10px;
    margin-top: 15px;
  }
}

main .news-wrapper div .news-card-head {
  position: relative;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .news-wrapper div .news-card-head div {
  overflow: hidden;
}

main .news-wrapper div .news-card-head div img {
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

main .news-wrapper div .news-card-head div img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

main .news-wrapper div .news-card-head .text-wrapper {
  height: 100%;
}

@media screen and (min-width: 1200px) {
  main .news-wrapper div .news-card-head .text-wrapper {
    position: absolute;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 760px) {
  main .news-wrapper div .news-card-head .text-wrapper {
    position: static;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

main .news-wrapper div .news-card-head .text-wrapper div h3 {
  font-size: 2.2vw;
  cursor: pointer;
}

main .news-wrapper div .news-card-head .text-wrapper div h3:hover {
  color: #777b7e;
}

@media screen and (max-width: 760px) {
  main .news-wrapper div .news-card-head .text-wrapper div h3 {
    padding: 20px 10px;
  }
}

@media screen and (min-width: 1200px) {
  main .news-wrapper div .news-card-head .text-wrapper div h3 {
    font-size: 30px;
    padding: 15px 0;
  }
}

main .news-wrapper div .news-card-head .text-wrapper div p {
  display: none;
  font-size: 1.2vw;
}

@media screen and (min-width: 1200px) {
  main .news-wrapper div .news-card-head .text-wrapper div p {
    display: block;
    font-size: 20px;
  }
}

main .news-wrapper div .news-card-head .text-wrapper .see-more {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 1200px) {
  main .news-wrapper div .news-card-head .text-wrapper .see-more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 760px) {
  main .news-wrapper div .news-card-head .text-wrapper .see-more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main .news-wrapper div .news-card-head .text-wrapper .see-more p {
    display: block;
    font-size: 14px;
  }
}

main .news-wrapper div .other-news-wrapper div .target-news-row {
  position: relative;
}

main .news-wrapper div .other-news-wrapper div .target-news-row div {
  overflow: hidden;
}

main .news-wrapper div .other-news-wrapper div .target-news-row div img {
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

main .news-wrapper div .other-news-wrapper div .target-news-row div img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

main .news-wrapper div .other-news-wrapper div .target-news-row .text-wrapper {
  position: absolute;
  left: 0;
  height: 100%;
}

@media screen and (max-width: 1200px) {
  main .news-wrapper div .other-news-wrapper div .target-news-row .text-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 760px) {
  main .news-wrapper div .other-news-wrapper div .target-news-row .text-wrapper {
    position: static;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
  }
}

main .news-wrapper div .other-news-wrapper div .target-news-row .text-wrapper div h3 {
  font-size: 2.2vw;
  cursor: pointer;
}

main .news-wrapper div .other-news-wrapper div .target-news-row .text-wrapper div h3:hover {
  color: #777b7e;
}

@media screen and (max-width: 760px) {
  main .news-wrapper div .other-news-wrapper div .target-news-row .text-wrapper div h3 {
    padding: 20px 10px;
  }
}

@media screen and (min-width: 1200px) {
  main .news-wrapper div .other-news-wrapper div .target-news-row .text-wrapper div h3 {
    font-size: 16px;
    padding: 15px 0;
  }
}

main .news-wrapper div .other-news-wrapper div .target-news-row .text-wrapper .see-more {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 1200px) {
  main .news-wrapper div .other-news-wrapper div .target-news-row .text-wrapper .see-more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 760px) {
  main .news-wrapper div .other-news-wrapper div .target-news-row .text-wrapper .see-more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main .news-wrapper div .other-news-wrapper div .target-news-row .text-wrapper .see-more p {
    display: block;
    font-size: 14px;
  }
}

main .news-wrapper div .other-news-wrapper .more-news {
  cursor: pointer;
  font-size: 15px;
}

main .news-wrapper div .other-news-wrapper .more-news:hover {
  text-decoration: underline;
}

main .article-section .contain-wrapper div {
  overflow: hidden;
}

main .article-section .contain-wrapper div img {
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

main .article-section .contain-wrapper div img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

main .article-section .contain-wrapper p {
  cursor: pointer;
}

main .more-articles {
  cursor: pointer;
  font-size: 15px;
}

main .more-articles:hover {
  text-decoration: underline;
}

main .podcasts-wrapper .img-wrapper {
  border-radius: 0 8px 8px 0;
  overflow: hidden;
}

@media screen and (max-width: 575.89px) {
  main .podcasts-wrapper .img-wrapper {
    border-radius: 8px 8px;
  }
}

main .podcasts-wrapper .img-wrapper img {
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

main .podcasts-wrapper .img-wrapper img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

main .podcasts-wrapper .text-wrapper {
  position: relative;
  border-radius: 8px 0 0 8px;
}

@media screen and (max-width: 575.89px) {
  main .podcasts-wrapper .text-wrapper {
    border-radius: 0;
  }
}

main .podcasts-wrapper .text-wrapper h4 {
  font-size: 1.5vw;
  cursor: pointer;
}

@media screen and (max-width: 575.89px) {
  main .podcasts-wrapper .text-wrapper h4 {
    display: none;
  }
}

main .podcasts-wrapper .text-wrapper a {
  position: absolute;
  font-size: 13px;
  left: 0;
  bottom: 1vw;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

main .podcasts-wrapper .text-wrapper a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 575.89px) {
  main .podcasts-wrapper .text-wrapper a {
    width: 100%;
    height: 35px;
    bottom: 0;
  }
}

main .more-podcasts {
  cursor: pointer;
}

main .more-podcasts h5 {
  font-size: 15px;
}

main .more-podcasts:hover {
  text-decoration: underline;
}

main .col-wrapper .contain-wrapper {
  cursor: pointer;
  padding: 35px 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

main .col-wrapper .contain-wrapper h5 {
  font-size: 13px;
}

main .products-by-opration .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .products-by-opration .container .items-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  overflow: scroll;
  position: relative;
}

main .products-by-opration .container .items-wrapper::-webkit-scrollbar {
  width: 0em;
}

main .products-by-opration .container .items-wrapper div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  background: white;
  width: 130px;
  height: 130px;
  margin: 10px;
  border-radius: 10px;
  min-width: 150px;
}

main .products-by-opration .container .items-wrapper div:hover {
  background-color: #ebebeb;
}

main .products-by-opration .container .items-wrapper div h6 {
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}

main .companies-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: scroll;
  margin-bottom: 15px;
  cursor: -webkit-grab;
  cursor: grab;
}

main .companies-parent::-webkit-scrollbar {
  width: 0;
}

main .companies-parent .companies-wrapper {
  background-repeat: no-repeat;
  background-size: 100% auto;
  min-width: 100%;
  margin-left: 2px;
  padding: 45px;
  border-radius: 5px;
}

main .companies-parent .companies-wrapper h5 {
  font-size: 18px;
}

main .companies-parent .companies-wrapper p {
  font-size: 13px;
}

main .companies-parent .companies-wrapper button {
  font-size: 14px;
}

main .companies-parent .companies-wrapper button:hover {
  text-decoration: underline;
}

main .val-custumers-col div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

main .val-custumers-col div h5 {
  padding: 0 0 5vw 0;
}

main .val-custumers-col div a {
  position: absolute;
  bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 15px;
}

main .val-custumers-col div a:hover {
  text-decoration: underline;
  padding: 0;
}

.mobile-size-list {
  position: absolute;
  top: 55px;
  background: whitesmoke;
  width: 100%;
  border-top: 1px solid #d4d4d4;
  z-index: 6;
  padding: 0px 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
}

.mobile-size-list.collapse {
  visibility: visible;
  opacity: 1;
  display: block;
}

.mobile-size-list .u-list {
  list-style: none;
  padding: 5px 20px;
}

.mobile-size-list .u-list .contact {
  cursor: pointer;
  font-size: 13px;
  padding: 3px 0;
  padding-right: 25px;
}

.mobile-size-list .u-list .list-item {
  cursor: pointer;
  font-size: 13px;
  padding: 3px 0;
}

.mobile-size-list .u-list .list-item::before {
  content: '\002B';
  font-size: 12px;
  padding: 3px 6px;
  background: #c7c7c7;
}

.mobile-size-list .u-list .list-item .list-group {
  list-style: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

.mobile-size-list .u-list .list-item .list-group .list-group-item {
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 11px;
}

.mobile-size-list .u-list .list-item .list-group .list-group-item:hover {
  color: #ed2c62;
}

.mobile-size-list .u-list .list-item .list-group.show {
  padding: 5px 10px;
  visibility: visible;
  opacity: 1;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
}

footer .footer-contain-wrapper ul {
  list-style: none;
  padding: 5px 15px;
}

footer .footer-contain-wrapper ul li {
  padding: 2px;
  font-size: 13px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

footer .footer-contain-wrapper ul li:hover {
  color: #ed2c62;
}

footer .copyright-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 760px) {
  footer .copyright-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .copyright-section .social-icons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 15px;
}

footer .copyright-section .social-icons-wrapper a {
  text-decoration: none;
  padding: 0 3px;
  color: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

footer .copyright-section .social-icons-wrapper a:hover {
  color: #0096e5;
}

footer .copyright-section .divider-wrapper {
  width: 100%;
}

footer .copyright-section .divider-wrapper p {
  margin: 5px;
  font-size: 12px;
  text-align: end;
}

@media screen and (max-width: 760px) {
  footer .copyright-section .divider-wrapper p {
    text-align: center;
  }
}

.on {
  position: absolute;
  z-index: 5;
  top: 0;
  background-color: #e8e8e8;
}

.on ul {
  list-style: none;
  padding: 15px;
}

.on ul li {
  overflow: hidden;
  font-size: 12px;
  cursor: pointer;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.on ul li:hover {
  color: #e71a8e;
}
/*# sourceMappingURL=styles.css.map */